* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 9px;
  font-family: "Poppins", sans-serif;
  background-color: #f6f6ec;
  color: #000000;
}

.container {
  width: 90vw;
  margin-bottom: 5rem;
  margin-left: 5rem;
  margin-top: 5rem;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-image: url("background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: #975d40;
  text-shadow: 2px 2px 1rem #e4e4e4;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
}

h4 {
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
  font-style: italic;
  margin-bottom: 20px;
}

h5 {
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
  font-style: italic;
  margin-bottom: 20px;
}

h6 {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: left;
}

p {
  font-size: 1rem;
  text-align: left;
  font-weight: 300;
}

.card {
  width: 20%;
  height: 260px;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
}

.modal.show {
  display: flex;
}

.modal__content {
  background: #f6f6ec;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 1500px;
  max-height: 85vh;
  overflow-y: auto;
  text-align: center;
}

.modal__content img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.upload__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Poppins", sans-serif;
  padding: 2rem 0;
  width: 100%;
  background-color: #975d40;
  color: #f6f6ec;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.uploadForm input[type="text"],
.uploadForm input[type="number"] {
  font-family: "Poppins", sans-serif;
  padding: 0.2rem 0.2rem;
  font-size: 1rem;
  border-radius: 6px;
}

.uploadForm input[type="file"] {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: #975d40;
}

.uploadForm button {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 0.2rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.25s;
}

.uploadForm button:hover {
  font-family: "Poppins", sans-serif;
  background: #f6f6ec;
}

#search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.search-input {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.search-input2 {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 0.1rem;
}

#search-form button {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding: 0.1rem 0.1rem;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .card {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
}
