:root {
  --dark-white: #f6f6ec;
  --dark-gray: #171712;
  --dark-black: #000000;
  --light-white: #f6f6ec;
  --light-black: #171712;
  --light-beige: #efede0;

  --primary: var(--light-white);
  --secondary: var(--light-black);
  --tertiary: var(--light-beige);
}

body.cool {
  --primary: var(--dark-gray);
  --secondary: var(--dark-white);
  --tertiary: var(--dark-black);
}

body.warm {
  --primary: var(--light-white);
  --secondary: var(--light-black);
  --tertiary: var(--light-beige);
}

/* sections */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 9px;
  font-family: "Poppins", sans-serif;
  background: var(--primary);
  color: var(--secondary);
}

.container {
  width: 90vw;
  background-color: var(--primary);
  margin-bottom: 5rem;
  margin-left: 5rem;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

/* text */
h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
}

h4 {
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
  font-style: italic;
  margin-bottom: 20px;
}

h5 {
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
  font-style: italic;
  margin-bottom: 20px;
}

h6 {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: left;
}

p {
  font-size: 1rem;
  text-align: left;
  font-weight: 300;
}

/* artworks */
.card {
  width: 20%;
  height: 260px;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
}

.modal.show {
  display: flex;
}

.modal__content {
  background: var(--primary);
  color: var(--secondary);
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 1500px;
  max-height: 85vh;
  overflow-y: auto;
  text-align: center;
  animation: fadeIn 0.3s;
}

.modal__content img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 1rem;
}

/* flex */
@media screen and (max-width: 800px) {
  .card {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
}